.flower-home-image {
    margin-bottom: -40px;
}

.ceremony-text {
    text-align: center;
    font-size: x-large;
}

@media screen and (max-width: 650px) {
    .flower-home-image {
        margin-bottom: -30px;
        z-index: 1;
    }

    .ceremony-text {
        text-align: center;
        font-size: x-large;
    }
}