<mat-card class="container" style="padding: 0;">
    <img mat-card-image class="scale-with-height flower-home-image"
        src="assets/images/Laura&ChristofferWithFlowers.png">
    <mat-card-content style="margin: 10px 5%;">
        <mat-grid-list cols="11" rowHeight="120px">
            <mat-grid-tile colspan="5">
                <mat-list class="container">
                    <mat-list-item>
                        <h2 class="center-text">{{dateText}}</h2>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                    <mat-list-item>
                        <h2 class="center-text">{{yearText}}</h2>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
            </mat-grid-tile>
            <mat-grid-tile colspan="5">
                <mat-list class="container">
                    <mat-list-item>
                        <h2 class="center-text">{{locationText}}</h2>
                    </mat-list-item>
                    <mat-list-item>
                        <h2 class="center-text">{{regionText}}</h2>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-divider style="margin: 0 10%;"></mat-divider>
    <mat-card-content>
        <h2>{{ceremonyText}}</h2>
        <h2>{{timeText}}</h2>
    </mat-card-content>
</mat-card>