<mat-card class="container">
  <mat-card-header>
    <h1>Indslag</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="body-text">
    <p>
      Intet bryllup uden de fantastiske gæster, og deres søde taler, sjove lege
      eller andre former for indslag, som de bringer med.
    </p>
    <h2>Toastmaster</h2>
    <mat-divider></mat-divider>
    <p>
      Vores toastmaster for dagen er Katinka Friis. Hvis du har et indslag, så
      som en tale, så kontakt Katinka på
      <a href="mailto:{{ toastMasterMailAddress }}">{{
        toastMasterMailAddress
      }}</a>
    </p>
  </mat-card-content>
</mat-card>
