<mat-card class="container border">
    <mat-card-header class="header">
        {{agendaTitle}}
    </mat-card-header>
    <mat-grid-list class="image-container" cols="12" rowHeight="fit" style="height: 400px;">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <img class="scale-with-width" src="assets/images/Stickwing_flipped_2x.png">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="1">
            <ul class="row scale-with-height">
                <li *ngFor="let item of agendaItems">
                    <app-agenda-item [agendaItem]="item"></app-agenda-item>
                </li>
            </ul>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <img class="scale-with-width" src="assets/images/Stickwing_2x.png">
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>