.agenda-item {
    padding: 0 5%;
    font-size: large;
}

.agenda-item-time {
    align-items: center;
    justify-content: center;
    font-size: large;
}

@media screen and (max-width: 767px) {
    .agenda-item {
        padding: 0 0;
        font-size: medium;
    }

    .agenda-divider {
        width: 20%;
        margin: auto;
    }

    .agenda-item-time {
        font-size: medium;
    }
}