<mat-card class="container">
    <mat-card-header>
        <mat-card-title>
            Rødvig Kro og Badehotel
        </mat-card-title>
        <mat-card-subtitle>
            Bryllupslokationen
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="body-image" style="border-radius: 4px; border: 1px;">
        <img mat-card-image class="scale-with-height" src="assets/images/roedvig-kro.jpg" alt="Rødvig Kro og Badehotel">
    </mat-card-content>
    <mat-card-content class="body-text">
        <p>
            1. Bryllupet bliver holdt på Rødvig kro
            2. Der er parkering lige ved kroen - eller ved brugsen i nærheden
            3. Der er tog lige til døren.
        </p>
    </mat-card-content>
</mat-card>