mat-toolbar {
    font-family: "Playfair Display";
    font-size: xx-large;
    text-align: center;
    a {
        
        color: #53402F;
        margin: 0 auto;
    }

    .menu{
        position: absolute;
        margin: 0 auto;

    }

    mat-icon {
        font-size: x-large;
    }
    
}