<mat-card class="container">
    <mat-card-header>
        <mat-card-title>
            Rødvig Kro og Badehotel
        </mat-card-title>
        <mat-card-subtitle>
            Bryllupslokationen
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="body-image" style="border-radius: 4px; border: 1px;">
        <img mat-card-image class="scale-with-height" src="assets/images/roedvig-kro.jpg" alt="Rødvig kro light">
    </mat-card-content>
    <mat-card-content class="body-text">
        <p>
            Rødvig Kro og Badehotel er en fantastisk hyggelig bryllupslokation. Det ligger lige ud til
            havet, med udsigt til Stevns Klint og få meter fra Rødvig Havn
        </p>
        <p>
            Der er muligthed for overnatning, så man kan feste hele aftenen og natten, uden at tænke på transporten
            hjem! Bare skriv til os på <a href="mailto:christofferbredo@gmail.com">christofferbredo@gmail.com</a>, og vi
            vil booke de overnatninger i har behov for til festen.
        </p>
    </mat-card-content>
</mat-card>

<div class="container image-container">
    <img class="scale-with-width" src="assets/images/roedvig-kro.jpg" alt="Rødvig kro">
    <div class="center-text">Rødvig Kro</div>
    <img src="assets/images/roedvig-kro-light.jpg" alt="Rødvig kro light">
    <img src="assets/images/omraadet.jpg" alt="Rødvig kro område">
    <img src="assets/images/stevns-klint.jpg" alt="Rødvig kro">
</div>