<mat-card class="container">
  <mat-card-header>
    <h1>Praktisk Information</h1>
  </mat-card-header>
  <mat-divider />
  <mat-card-header>
    <h2>Vielsen</h2>
  </mat-card-header>
  <mat-card-content class="body-text">
    <p>
      Vielsen kommer til at foregå i krohaven foran badehotellet klokken {{ceremonyTime | time }}. Det er en offentlig
      park, så der må ikke kastes med ris efter cermonien, men vi finder et godt alternativ.
    </p>
    <p> Vi frabeder os billeder under cermonien. Vi har hyret en professionel fotograf som har helt styr på det, og vi
      vil hellere se jeres smukke ansigter end telefoner.</p>
    <p>
      Selvom vielsen starter klokken 14, så kom gerne i god tid. Ift. check-in tidspunkter og andet om overnatning, se
      <a [routerLink]="['/Booking']">information om overnatning</a>.
    </p>
    <img mat-card-lg-image src="assets/images/aigen_greenbranch2.jpg">
  </mat-card-content>
  <mat-divider />
  <mat-card-header>
    <h2>Indslag</h2>
  </mat-card-header>
  <mat-card-content class="body-text">
    <p>
      Intet bryllup uden de fantastiske gæster, og deres søde taler, sjove lege
      eller andre former for indslag, som de bringer med. Alle indslag skal koordineres med vores toastmaster Katinka.
      Meld gerne ind i god tid, så Katinka har god mulighed for at planlægge aftenen, og sørge for at desserten kommer
      på bordet før midnat.
    </p>
    <p>Af hensyn til tidsplanen, og for at give god tid til talerne, så vil vi gerne frabede os sange.</p>
    <app-responsibleperson [title]="toastmasterTitle" [name]="toastmasterName" [email]="toastmasterMailAddress" />
  </mat-card-content>
  <mat-divider />
  <mat-card-header>
    <h2>Dresscode</h2>
  </mat-card-header>
  <mat-card-content class="body-text">
    <p>
      Kom gerne i jeres flotteste kjoler, smarteste jakkesæt, og de pæneste sko. Vi går all-out, så vi håber i vil gøre
      det samme!
    </p>
    <img mat-card-lg-image src="assets/images/aigen_greenbranch1.jpg">
  </mat-card-content>
  <mat-card-header>
    <h2>Kosthensyn og allergi</h2>
  </mat-card-header>
  <mat-card-content class="body-text">
    <p>
      Menuen kommer til at være fuldt vegetarisk. Hvis i har andre kosthensyn eller allergier, så giv os gerne besked
      ved svar på invitationen. Så snakker vi med køkkenet.
    </p>
    <img mat-card-lg-image src="assets/images/aigen_greenbranch2.jpg">
  </mat-card-content>
</mat-card>