<mat-card class="container">
  <mat-card-header>
    <h1>Praktisk Information</h1>
  </mat-card-header>
  <mat-divider/>
  <mat-card-header>
    <h2>Indslag</h2>
  </mat-card-header>
  <mat-card-content class="body-text">
    <p>
      Intet bryllup uden de fantastiske gæster, og deres søde taler, sjove lege
      eller andre former for indslag, som de bringer med.
    </p>
    <p>
      Alle indslag skal koordineres med vores toastmaster Katinka. Hun kan kontaktes på mail på 
      <a href="mailto:{{ toastMasterMailAddress }}">{{
        toastMasterMailAddress
      }}</a>
      .
    </p>
    <img mat-card-lg-image src="assets/images/aigen_greenbranch1.jpg">
  </mat-card-content>
  <mat-divider/>
  <mat-card-header>
    <h2>Dresscode</h2>
  </mat-card-header>
  <mat-card-content class="body-text">
    <p>
      Alle indslag skal koordineres med vores toastmaster Katinka. Hun kan kontaktes på mail på 
      <a href="mailto:{{ toastMasterMailAddress }}">{{
        toastMasterMailAddress
      }}</a>
      .
    </p>
    <img mat-card-lg-image src="assets/images/aigen_greenbranch2.jpg">
  </mat-card-content>
</mat-card>
