@use '@angular/material' as mat;
@use 'sass:map';
@use "./custom-theme.scss" as theme;

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

$color-config: mat.get-color-config(theme.$bryllupsite-theme);

$primary-palette: map.get($color-config, 'primary');
$secondary-palette: map.get($color-config, 'accent');

.container{
  margin: auto;
  margin-bottom: 20px;
  font-size: large;

}

mat-card-header {
  padding-left: 10%;
  padding-right: 10%;
  font-size: xx-large;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

mat-card-content { 
  padding-left: 5%;
  padding-right: 5%;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }

  .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

}

.body-text{
  text-align: center;
}


@media screen and (max-width: 767px) {
  
  mat-card-header {
    font-size: x-large;
  }

  .container {
    .border {
      margin: auto 10% 10%;
    }
  }
}