/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

a {
  text-decoration: none; 
}

hr.solid{
  border-top: 2px solid #b85600;
}

hr.solid-light{
  border-top: 1px solid #b85600;
  height: 1px;
}

hr.solid-bold{
  border-top: 3px solid #b85600;
}

hr.rounded-bold{
  border-top: 3px solid #b85600;
  border-radius: 1px;
}

.container{
  margin-bottom: 10%;
}

.container-border {
  border: 2px solid #53402F;
  margin: auto 20%;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.image-container img {
  margin: auto;
  display: block;
}

.image-container .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title{
  font-family: "Playfair Display";
  font-size: xx-large;
  text-align: center;
  color: #53402F;
}

.body-text{
  text-align: center;
}


@media screen and (max-width: 767px) {
  
  .container-border{
    margin: auto 10% 10%;
  }

  .header-title{
    font-size: x-large;
  }

}