@use '@angular/material' as mat;
@use 'sass:map';
@use "./custom-theme.scss" as theme;

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

$color-config: mat.get-color-config(theme.$bryllupsite-theme);

$primary-palette: map.get($color-config, 'primary');
$secondary-palette: map.get($color-config, 'accent');

body {
  background-image: url('assets/images/white_wall_hash.png');
}

h1, h2 {
  text-align: center;
}

.container {
  font-size: medium;
  max-width: 800px;
  margin: 0 auto 20px;
}

ul {
  padding: 0;
  list-style-type: none;

  li {
    display: block;
  }
}

mat-card-header {
  font-size: x-large;
  text-align: center;
  margin: 5px 20px 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-content {
  margin: 5px;
}

mat-divider {
  margin: 0 10% !important;
  border-top-width: 2px !important;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scale-with-width {
  width: auto;
  height: 100%;
  margin: auto;
  display: block;
}

.scale-with-height {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
}


.body-text {
  text-align: center;
}

.navigation-button {
  font-size: large;
}


@media screen and (max-width: 650px) {
  .container {
    font-size: large;
    max-width: 400px;
    margin: 0 auto 20px;
  }
}