.cover-image {
    max-width: 600px;
}

.cover-image-mobile {
    max-width: 400px;
}

.cover-center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);

    h1, h2, h3 {
        color: #4f5344;
    }
}