@use '@angular/material' as mat;

a {
    color: inherit;
}

.footer {
    margin: inherit auto;

    width: 200px;
    height: 120px;

    .c-and-l {

        .and {
            font-size: 40px;
        }

        mat-divider {
            border-top-width: 2px;
            border-top-color: #3e2723;
        }
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: xx-large;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
}

.credentials {
    position: relative;
    bottom: 0;
    font-size: small;

}

@media screen and (max-width: 650px) {
    .footer {
        margin: 5px auto;

        width: 120px;
        height: 80px;

    }

    .footer h1 {
        font-size: xx-large;
    }

    .footer h2 {
        font-size: large;
    }

    .footer .c-and-l .and {
        font-size: x-large;
    }
}