<mat-card class="container" style="padding: 0">
  <mat-card-header>
    <h1>Overnatning</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="body-text">
    <p>
      Der er mulighed for overnatning, så man kan feste hele aftenen og natten,
      uden at tænke på transporten hjem! Bare skriv til os på
      <a href="mailto:{{ contactMailAddress }}">{{ contactMailAddress }}</a
      >, og vi vil booke de overnatninger i har behov for til festen.
    </p>
    <p>Giv os besked om overnatning senest 1. juli, da vi skal koordinere det med Rødvig Kro og sikre værelserne.</p>
    <p>Nedenunder kan i se priser for enkelt og dobbeltværelser. Disse priser inkluderer morgenmad dagen derpå.</p>
    <mat-divider></mat-divider>
    <mat-grid-list [cols]="cols" rowHeight="80px" style="margin: 16px">
      <mat-grid-tile colspan="1">
        <mat-list class="container">
          <mat-list-item>
            <h3 class="center-text">Dobbeltværelse</h3>
          </mat-list-item>
          <mat-list-item>
            <h3 class="center-text">675 kr. pr. person</h3>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="1"
        ><img class="scale-with-width" src="assets/images/Gren.png"
      /></mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-list class="container">
          <mat-list-item>
            <h3 class="center-text">Enkeltværelse</h3>
          </mat-list-item>
          <mat-list-item>
            <h3 class="center-text">1100 kr. pr. person</h3>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <p>
      Tillæg for havudsigt: 100 kr. pr. person
      <br>
      Ekstra opredning pr. person 400 kr.
    </p>
  </mat-card-content>
  <img
    mat-card-image
    class="scale-with-height"
    src="assets/images/roedvigkroogbadehotel_dobbelt-vaerelse-uden-havudsigt2.jpg"
  />
</mat-card>
