<mat-card class="container">
    <mat-card-header>
        <h1>Ønsker</h1>
    </mat-card-header>
    <mat-divider />
    <mat-card-content class="body-text">
        <p>
            I tilfælde af, at I har lyst til at give en gave i dagens anledning, så har vi lavet en Ønskesky. Vi kan
            ikke se hvad folk har reserveret, så det er stadig en overraskelse for os. Klik på ønskeskyen nedenunder for
            at finde vores ønsker.
        </p>
        <app-oenskeskyen></app-oenskeskyen>
        <p>
            Hvis i ikke er verdensmestre i Ønskeskyen, så frygt ej! Vi har også allieret os med Lauras mor som
            gavekoordinator. I kan kontakte Tina om gaver og ønsker. Så skal hun nok sørge for at vi ikke får ti
            mikrobølgeovne med hjem fra festen.
        </p>
        <app-responsibleperson [name]="coordinatorName" [title]="coordinatorTitle" [email]="coordinatorEmail"
            [phone]="coordinatorPhone" />
    </mat-card-content>
</mat-card>